.horizontal-image-scrollbar {
    background-color: #fff;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    border-top: solid 1px #ccc;
}

    .horizontal-image-scrollbar img {
        max-height: 100px;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -o-user-select: none !important;
        user-select: none !important;
    }

    .horizontal-image-scrollbar .sticky-logo-area {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

        .horizontal-image-scrollbar .sticky-logo-area img {
            height: 80px;
        }

    .horizontal-image-scrollbar .simply-scroll-container {
        position: relative;
    }

    .horizontal-image-scrollbar .simply-scroll-clip {
        position: relative;
        overflow: hidden;
    }

    .horizontal-image-scrollbar .simply-scroll-list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .horizontal-image-scrollbar .simply-scroll-list li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .horizontal-image-scrollbar .simply-scroll-list li img {
                border: none;
                display: block;
            }

    .horizontal-image-scrollbar .simply-scroll {
        width: 100%;
        height: 100px;
    }

        .horizontal-image-scrollbar .simply-scroll .simply-scroll-clip {
            width: 100%;
            height: 100px;
        }

        .horizontal-image-scrollbar .simply-scroll .simply-scroll-list {
        }

    .horizontal-image-scrollbar .simply-scroll-list li {
        float: left;
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }

    .horizontal-image-scrollbar .simply-scroll .simply-scroll-list li img {
        max-height: 80px;
    }

    .horizontal-image-scrollbar.sticky {
        position: sticky !important;
        bottom: 0;
    }